main{
    margin: 0 auto;
    width: 100%; 
    max-width: 500px;
    .postHeader{
        display: flex;
        align-items: center;
        margin: 10px;
        img{
            width: @profilesize;
            height: @profilesize;
            border-radius: @profilesize/2;
            margin-right: 5px;
        }
    }
}